<%= form_with(model: grading, local: true) do |form| %>
  <% if grading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grading.errors.count, "error") %> prohibited this grading from being saved:</h2>

      <ul>
      <% grading.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :grade %>
    <%= form.text_field :grade %>
  </div>

  <div class="field">
    <%= form.label :point %>
    <%= form.text_field :point %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
