<h1>First Semester</h1>

<table>
  <thead>
  <tr>
    <th>Course Name</th>
    <th>Course Code</th>
    <th>Credit</th>
    <th>Grade</th>
  </tr>
  </thead>
  <% @user = User.find_by(id: params[:id]) %>
  <tbody>
  <% gpa = 0 %>
  <% total = 0 %>
  <% @res.each do |result| %>
    <% if result.student_id == @user.std_id and result.semester == 1%>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td><%= result.course_name %></td>
      <td><%= result.course_code %></td>
      <td><%= result.course_credit %></td>
      <td><%= result.grade %></td>
      <% gpa = gpa + result.point * result.course_credit %>
      <% total = total + result.course_credit %>
    </tr>
    <% end %>
  <% end %>
  <tr class="total">
    <td></td>
    <td> GPA : </td>
    <td colspan="2"><%= number_with_precision(gpa/total, precision: 2) %></td>
  </tr>
  </tbody>
</table>
