<%#= render "devise/registrations/new" %>
<%= form_with(model: users, local: true) do |form| %>
  <% if users.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(users.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% users.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :Student_ID %>
    <%= form.number_field :std_id %>
  </div>

  <div class="field">
    <%= form.label :department %>
    <%=  form.collection_select :department, Department.all.map {|a| [a.name, a.name]},  :first, :second, {:prompt => true} %>
</div>

  <div class="field">
    <%= form.label :semester %>
    <%= form.number_field :semester %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :role %>
    <%= form.select :role, ['Admin','Student'], prompt: 'Select Role' %>
  </div>

  <div class="field">
    <%= form.label :password %>
    (6 characters minimum)<br/>
    <%= form.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %><br />
    <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
