<p id="notice"><%= notice %></p>

<h1>Users</h1>
<% if current_user.role=="Admin" %>
<div id="new_user">
  <%= link_to 'Add New User', new_user_path %>
</div>
  <%end %>
<table>
  <thead>
  <tr>
    <th> Name </th>
    <th> ID </th>
    <th> Department </th>
    <th> Semester </th>
    <th> Email</th>
    <th> Role </th>
<!--    <th> CGPA </th>-->
<!--    <th> Photo </th>-->
    <th> </th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <% if user.role=="Admin" %>
        <% if current_user.role !="Admin" %>
        <% next %>
        <% end %>
      <% end %>
      <td><%= user.name %></td>
      <td><%= user.std_id %></td>
      <td> <%= user.department %> </td>
      <td>
        <% if user.semester < 9  %>
        <%= user.semester %>
          <%elsif user.role == 'Admin' %>
            N/A
        <%else  %>
        Graduated
        <%end %>
      </td>
      <td><%= user.email %></td>
      <td><%= user.role %></td>
<!--      <td><%##= user.cgpa %></td>-->
<!--      <td><%##= #user.photo %></td>-->

      <td class="list_actions">
        <%= link_to 'Show', user %> <br/>
        <% if current_user.role=="Admin" %>
        <%= link_to 'Edit', edit_user_path(user) %> <br/>
        <%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %> <br/> <br/>
          <% @carts = Cart.all %>
          <% @carts.each do |cart| %>
            <% cart.line_items.each do |item| %>
              <% if item.user.id == user.id %>
                <%= link_to 'Registered Courses', cart %> <br/>
                <% break %>
                <%end %>
              <%end %>
            <%end %>
          <%#= link_to 'Results', res_index_path(id: params[:std_id]) %>
        <%end %>
      </td>

    </tr>
  <% end %>
  </tbody>
</table>

<br>


