<p id="notice"><%= notice %></p>

<div id="back">

  <p>
<!--    <strong>Profile Picture: </strong> <br/>-->
    <div id="im">
    <%= image_tag @user.avatar.to_s %>
    </div>
  </p>
<div id="profile_info">
<p>
  <strong>Name: </strong>
  <%= @user.name %>
</p>

<p>
  <strong>Student ID: </strong>
  <%= @user.std_id %>
</p>

<p>
  <strong>Department: </strong>
  <%= @user.department %>
</p>

<p>
  <% if @user.semester < 9 and @user.role != 'Admin' %>
  <strong>Semester: </strong>
  <%= @user.semester %>
  <% elsif @user.role != 'Admin' %>
    <strong>Status : Graduated</strong>
  <%end %>

</p>

<p>
  <strong>Email: </strong>
  <%= @user.email %>
</p>

<p>
  <strong>Role: </strong>
  <%= @user.role %>
</p>

<p>
  <% if current_user.role == 'Admin' or current_user.id == @user.id %>
    <% if @user.semester > 1 %>
    <% cgpa = 0 %>
    <% total = 0 %>
    <% @res = Result.all %>
    <% @res.each do |result| %>
      <% if @user.std_id == result.student_id %>
      <% cgpa = cgpa + result.point * result.course_credit %>
      <% total = total + result.course_credit %>
    <% end %>
    <% end %>
     <% if @user.role != 'Admin' and current_user.semester > 1 %>
        <strong>CGPA: </strong>
        <%= number_with_precision(cgpa/total, precision: 2) %></td>
        <% end %>
    <% end %>
    <%end %>
</p>

</div>
</div>
<br/>
<div id="actions">
  <% if current_user.role=="Admin" or current_user.std_id==@user.std_id %>
  <%= link_to 'Edit Profile', edit_user_path(@user) %> |
  <%end %>
  <% if current_user.std_id==@user.std_id %>
  <%= link_to 'Change Password', edit_user_registration_path(current_user) %> |
<!--    <%#= link_to 'Update Profile Picture', change_dp_change_path(current_user) %> |-->
  <%end %>
  <%= link_to 'Back', users_path %> <br/> <br/> <br/>
  <div id="pp_update">
  <% if current_user.std_id==@user.std_id %>
        Update Profile picture
    <%= form_with(model: @user, local: true) do |form| %>
      <div class="field">
        <%#= form.label :avatar %>
        <%= form.file_field :avatar %>
      </div>
      <div class="actions">
        <%= form.submit 'Update' %>
      </div>
    <%end %>
  <% end %>
  </div>
</div>