<p id="notice"><%= notice %></p>

<h1>Departments</h1>

<div id="new_department">
<%= link_to 'Add New Department', new_department_path %>
</div>
<table>
  <thead>
    <tr>
      <th> Name </th>
      <th> Head </th>
      <th> No. of Students </th>
      <th> No. of Teachers </th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
  <% @departments.each do |dept| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td><%= dept.name %></td>
      <td><%= dept.head %></td>
      <td><%= dept.student_no %></td>
      <td><%= dept.teacher_no %></td>
      <td class="list_actions">
        <%= link_to 'Show', dept %> <br/>
        <%= link_to 'Edit', edit_department_path(dept) %> <br/>
        <%= link_to 'Delete', dept, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>


