<p id="notice"><%= notice %></p>

<div id="back">
<p>
  <strong> Name:</strong>
  <%= @department.name  %>
</p>

<p>
  <strong>Head:</strong>
  <%= @department.head %>
</p>

<p>
  <strong>No. of Students:</strong>
  <%= @department.student_no %>
</p>

<p>
  <strong>No. of Teachers:</strong>
  <%= @department.teacher_no %>
</p>
</div>

<div id="actions">

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>

</div>