<p id="notice"><%= notice %></p>
<h1>Registered Courses</h1>
<div id="wback">
<% @cart.line_items.each do |item| %>
    <br/>
    <% @student = item.user %>
  <h2>Student Name : <%= item.user.name %></h2>
  <h2>Semester : <%= item.user.semester %></h2>
  <%break %>
  <%end %>
<table>
  <thead>
  <td>Title</td>
  <td>Code</td>
  <td>Credit</td>
  </thead>
  <% @cart.line_items.each do |item| %>
    <tr>
<!--      <td><%#= item.user.name %> </td>-->
      <td><%= item.course.title %> </td>
      <td><%= item.course.number %> </td>
      <td> <%= item.course.credit %></td>
    </tr>
  <% end %>
  <tr class="total_credit">
    <td colspan="2">Total Credits</td>
    <td class="total_cell"><%= @cart.total_credit %></td>
  </tr>
</table>
  <% if current_user.role=="Admin" %> <br/>
    <%= button_to 'Cancel Registration', @cart, method: :delete, data: { confirm: 'Are you sure?' } %> <br/>
    <%= button_to 'Generate Results', new_cart_path,params:{student_id: @student.id, id: @cart.id }, method: :get %> <br/>
  <% end %>
</div>
