<p id="notice"><%= notice %></p>

<h1>Registered Courses</h1>
<br/>
<table>
  <thead>
  <td>Student Name</td>
  <td>Semester</td>
  <td>Department</td>
  <td>Total Credits</td>
  <td> </td>
  </thead>
  <tbody>
  <% @carts.each do |cart| %>
    <%# if cart.user.id == current_user.id %>
    <% cart.line_items.each do |it|  %>
        <% if current_user.id == it.user.id %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td>
        <% cart.line_items.each do |item| %>
          <%= item.user.name %>
          <% break %>
        <%end %>
      </td>
      <td>
        <% cart.line_items.each do |item| %>
          <%= item.user.semester %>
          <% break %>
        <%end %>
      </td>
      <td>
        <% cart.line_items.each do |item| %>
          <%= item.user.department %>
          <% break %>
        <%end %>
      </td>
      <td><%=cart.total_credit %></td>
      <td class="list_actions">
        <%= link_to 'Show', cart %> <br/>
        <% if current_user.role=="Admin" %> <br/>
          <%= link_to 'Cancel', cart, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </td>
    </tr>
  <% break %>
  <%end %>
  <%end %>
  <%end %>
  </tbody>
</table>