<p id="notice"><%= notice %></p>
<div id="back">
<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Number:</strong>
  <%= @course.number %>
</p>

<p>
  <strong>Department:</strong>
  <%= @course.department %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @course.semester %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @course.credit %>
</p>
</div>
<div id="actions">
  <% if current_user.role=="Admin" %>
<%= link_to 'Edit', edit_course_path(@course) %> |
    <%end %>
<%= link_to 'Back', courses_path %>
</div>