<!DOCTYPE html>
<html>
<head>
  <title> SIS 2.0 </title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class='<%= controller.controller_name %>'>
<div id="banner">
  Student Information System 2.0
  <span class="title"><%= @page_title %></span>
</div>
<div id="columns">
  <div id="side">
<!--    <div id ="date_time">-->
<!--      Date: <br/> <%#= Time.now %> <br/>-->
<!--    </div>-->
    <% if user_signed_in? %>
      <%= current_user.name %> <br/> <br/>
      <%= link_to 'Profile', current_user %> <br/>
      <br/>
      <%= button_to 'Logout', destroy_user_session_path, method: :delete  %>
      <br/>
      <ul>
        <li><%= link_to 'Courses', courses_path %></li>
        <li><%= link_to 'Departments', departments_path %></li>
        <li><%= link_to 'Users', users_path %></li>
      </ul>
      <br/>
      <br/>
      <br/>
    <% end %>
    <ul>
      <li><%= link_to 'Home', home_page_path %></li>
      <li><a href="https://www.nascenia.com/">Questions</a></li>
      <li><a href="https://www.nascenia.com/">News</a></li>
      <li><a href="https://www.facebook.com/sabik.irbaz">Contacts</a></li>
      <br/>
      <br/>
      <br/>
      <br/>
    </ul>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</div>
</body>
</html>
