<!DOCTYPE html>
<html>
<head>
  <title> SIS 2.0 </title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class='<%= controller.controller_name %>'>
<div id="banner">
  Student Information System 2.0
  <span class="title"><%= @page_title %></span>
</div>
<div id="columns">
  <div id="side">
<!--    <div id ="date_time">-->
<!--      Date: <br/> <%#= Time.now %> <br/>-->
<!--    </div>-->

    <ul>
      <li><%= link_to 'Courses', courses_path %></li>
      <li><%= link_to 'Departments', departments_path %></li>
      <li><a href="https://www.nascenia.com/">Home</a></li>
      <li><a href="https://www.nascenia.com/">Questions</a></li>
      <li><a href="https://www.nascenia.com/">News</a></li>
      <li><a href="https://www.facebook.com/sabik.irbaz">Contacts</a></li>
    </ul>
  </div>
  <div id="main">
    <%= yield %>
  </div>
</div>
</body>
</html>
